body{
  background-color: #e3e4e2;
  color: #333;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

#start{
  height: 100vh;
  width: 100%;
  background-image: url(images/landpic.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
  top: 0;
}

#dea{
  margin: 0;
  color: #333;
  left: 25%;
  top: 25%;
  font-family: "Roboto", cursive;
  font-weight: 700;
  font-size: 7.56em;
  position: relative;
}

#first_video{
  height: 100vh;
  background-color: #fafafc;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 100vh;
}
video{
  max-height: 100vh;
}

#parts{
  height: 100vh;
  background-color: #fafafc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
}
#pic1{
  grid-column-start: 1;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-image: url(images/1.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 400px;
  opacity: 0;
}

.animate{
	animation: fade-in-bottom 1s ease-out forwards;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


#test{
  width: 100%;
  background-color: red;
  height: 200px;
}

#text1{
  grid-column-start: 2;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
  margin-left: 2%;
  margin-right: 15%;
  width: 500px;
}

#warning_message {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fafafc;
  color: #333;
  z-index: 99;
  top: 0;
  text-align: center;
  animation: fadein .8s;
  opacity: 1;
  font-family: "Fira Sans", sans-serif;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#landscape_message{
  margin: 0;
  font-size: 5em;
  writing-mode: vertical-rl;
}

    @media only screen
      and (max-device-width: 375px)
      and (orientation: portrait){
        body{
          overflow: hidden;
          visibility: hidden;
        }

        #warning_message {
          display: flex;
          align-content: center;
          justify-content: center;
          visibility: visible;
        }
    }
    @media only screen
      and (max-device-width: 812px)
      and (orientation:landscape){
        #warning_message {
          display:flex;
          animation: fadeout .8s;
          opacity: 0;
        }
        #landscape_message{
          display: none;
        }
        @keyframes fadeout {
            from { opacity: 1; }
            to   { opacity: 0; display: none}
        }
        #dea{
          left: 5%;
          top: 5%;
        }
        #pic1{
          text-align: center;
          margin: 0;
          width: 70%;
          height: 100%;
        }
        #text1{
          font-size: 1em;
          margin: 0;
          width: 260px;
          margin-right: 15%;
        }
    }
