body{
  background-color: #e3e4e2;
  color: #333;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

/* for later haha */
/*.container{
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
section{
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}*/

#start{
  height: 100vh;
  width: 100%;
  background-image: url(images/landpic.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
  top: 0;
}

#dea{
  margin: 0;
  color: #bcbcbc;
  left: 25%;
  top: 25%;
  font-family: "Roboto", cursive;
  font-weight: 700;
  font-size: 7.56em;
  position: relative;
  line-height: .8em;
}
#meet{
  font-size:.7em;
}
#name{
  color: #333;
}

#first_video{
  height: 100vh;
  background-color: #fafafc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100vh;
}
#second_video{
  height: 100vh;
  background-color: #fafafc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
video{
  max-height: 70vh;
}

/* main divs */
.part{
  height: 100vh;
  background-color: #fafafc;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
}
.pic{
  margin-left: 5%;
  margin-right: 5%;
  grid-row: span 5;
  text-align: center;
  background-position: center;
  width: 100%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 350px;
}
.text{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
  margin-left: 2%;
  margin-right: 15%;
  width: 500px;
  grid-row: 2 / span 3;
  border-top: 0px solid rgba(20, 20, 20, 1);
  border-bottom: 2px solid rgba(20, 20, 20, 1);
  padding: 50px 0px 50px 0px;
}
.ill{
  grid-row: 2 / span 4;
  width: 90%;

  object-fit: cover;
  opacity: .8;
}
/*grid line*/
.divline{
  background-color: #333;
  grid-column: 2;
  grid-row: 2 / span 3;
  width: 100%;
  height: 100%;
}
/* main divs */

/*animation for left*/
@keyframes fade-in {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: translateX(0);
      opacity: 1;
    }
}
.fade-in-element {
  animation: fade-in 1.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hidden {
  opacity: 0;
}
/*animation for left*/

/*animation for right*/
@keyframes fade-in2 {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: translateX(0);
      opacity: 1;
    }
}
.fade-in-element2 {
  animation: fade-in2 1.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hidden2 {
  opacity: 0;
}
/*animation for right*/

#pic1{
  grid-column-start: 1;
  background-image: url(images/1.jpg);
  opacity: 1;
}
#text1{
  grid-column: 3;
  z-index:1;
}
#ill1{
  grid-column:  3;
}

#pic2{
  grid-column-start: 3;
  background-image: url(images/3.jpg);
}
#text2{
  grid-column-start: 1;
  grid-row: 2 / span 3;
  margin-left: 15%;
  margin-right: 2%;
  border-bottom: 0;
}

#pic3{
  grid-column-start: 1;
  background-image: url(images/2.jpg);
}
#text3{
  grid-column-start: 3;
  z-index:99;
}
#ill3{
  grid-column:  3;
}

#pic4{
  grid-column-start: 3;
  background-image: url(images/4.jpg);
}
#text4{
  grid-column-start: 1;
  grid-row: 2 / span 3;
  margin-left: 15%;
  margin-right: 2%;
  border-bottom: 0;
}

#pic5{
  grid-column-start: 1;
  background-image: url(images/5.jpg);
}
#text5{
  grid-column-start: 3;
  border-bottom: 0;
}

#pic6{
  grid-column-start: 3;
  background-image: url(images/6.jpg);
}
#text6{
  grid-column-start: 1;
  grid-row: 2 / span 3;
  margin-left: 15%;
  margin-right: 2%;
  z-index: 99;
}
#ill6{
  grid-column:  1;
}

#musicvid1{
  grid-column: 1;
  grid-row: 3;
  object-fit: contain;
}
#musicvid2{
  grid-column: 3;
  grid-row: 3;
}

footer{
  width: 100%;
  height: auto;
  font-family: "Fira Sans", sans-serif;
  background-color: #fafafc;
  color: #707070;
}

footer ul{
  margin: 0;
  list-style: none;
  padding: 30px;
  padding-left: 10%;
  display: flex;
}

li:not(:last-child):after {
  content: '|';
  margin: 0 5px;
}

footer p{
  margin: 0;
}

footer a{
  text-decoration: underline;
  color: #333;
}

#warning_message {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fafafc;
  color: #333;
  z-index: 99;
  top: 0;
  text-align: center;
  animation: fadein .8s;
  opacity: 1;
  font-family: "Fira Sans", sans-serif;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#landscape_message{
  margin: 0;
  font-size: 2.5em;
  writing-mode: vertical-rl;
}

    @media only screen
      and (max-device-width: 411px)
      and (orientation: portrait){
        body{
          overflow: hidden;
          visibility: hidden;
        }

        #warning_message {
          display: flex;
          align-content: center;
          justify-content: center;
          visibility: visible;
        }
        header{
          display: none;
        }
        .part{
          display: none;
        }
        .pic{
          display: none;
        }
        .text{
          display: none
        }
        .ill{
          display: none;
        }
        footer{
          display: none;
        }
    }
    @media only screen
      and (max-device-width: 812px)
      and (orientation:landscape){
        #warning_message {
          display:flex;
          animation: fadeout .8s;
          opacity: 0;
        }
        #landscape_message{
          display: none;
        }
        @keyframes fadeout {
            from { opacity: 1; }
            to   { opacity: 0; display: none}
        }
        #dea{
          left: 5%;
          top: 5%;
        }
        .pic{
          text-align: center;
          margin: 0;
          width: 100%;
          height: 90%;
        }
        .text{
          font-size: 1em;
          margin: 0;
          width: 260px;
          margin-right: 15%;
          padding: 50px 0px 20px 0px;
        }
        footer ul{
          padding-left: 6%;
        }
        #part7{
          display: none;
        }
        .ill{
          opacity: .4;
        }
    }

    @media only screen
      and (max-device-width: 1024px){
        #dea{
          left: 5%;
          top: 5%;
        }
        footer ul{
          padding-left: 8%;
        }
        .pic{
          min-width: 250px;
        }
      }

      @media only screen
        and (max-device-width: 1440px){
          #dea{
            left: 5%;
            top: 5%;
          }
          footer ul{
            padding-left: 8%;
          }
          .pic{
            min-width: 250px;
          }
        }
